In [1]:
library(tidyverse)
library(broom)
library(repr)
library(digest)
library(infer)

-- Attaching packages ------------------------------------------------------------------------------- tidyverse 1.3.1 --

v ggplot2 3.3.6      v purrr   0.3.4
v tibble  3.1.8      v dplyr   1.0.10
v tidyr   1.2.0      v stringr 1.4.1
v readr   2.1.2      v forcats 0.5.2

Warning message:
"package 'ggplot2' was built under R version 4.1.3"
Warning message:
"package 'tibble' was built under R version 4.1.3"
Warning message:
"package 'tidyr' was built under R version 4.1.2"
Warning message:
"package 'readr' was built under R version 4.1.2"
Warning message:
"package 'dplyr' was built under R version 4.1.3"
Warning message:
"package 'stringr' was built under R version 4.1.3"
Warning message:
"package 'forcats' was built under R version 4.1.3"
-- Conflicts ---------------------------------------------------------------------------------- tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()

Warning message:
"package 'broom' was built under R version 4.1.3"
Warning message:
"package 'repr' was built under R version 4.1.2"
Warning message:
"package 'infer' was built under R version 4.1.3"

In [2]:
options(repr.plot.width=15, repr.plot.height=7)

In [8]:
employment <- read_csv("https://raw.githubusercontent.com/GWilliam02/STAT201-Project/main/data/employmentData.csv")
head(employment)

Rows: 108064 Columns: 60
-- Column specification ------------------------------------------------------------------------------------------------
Delimiter: ","
chr  (7): SURVMNTH, AGE_12, NAICS_21, NOC_10, NOC_43, WHYLEFTN, EFAMTYPE
dbl (53): REC_NUM, SURVYEAR, LFSSTAT, PROV, CMA, AGE_6, SEX, MARSTAT, EDUC, ...

i Use `spec()` to retrieve the full column specification for this data.
i Specify the column types or set `show_col_types = FALSE` to quiet this message.

  REC_NUM SURVYEAR SURVMNTH LFSSTAT PROV CMA AGE_12 AGE_6 SEX MARSTAT <U+22EF>
1 1       2023     01       1       24   2   07     NA    2   6       <U+22EF>
2 2       2023     01       1       47   0   04     NA    2   6       <U+22EF>
3 3       2023     01       1       10   0   10     NA    1   1       <U+22EF>
4 4       2023     01       4       35   0   12     NA    2   1       <U+22EF>
5 5       2023     01       1       35   0   05     NA    1   1       <U+22EF>
6 6       2023     01       1       35   0   12     NA    1   2       <U+22EF>
  LKATADS LKANSADS LKOTHERN PRIORACT YNOLOOK TLOLOOK SCHOOLN EFAMTYPE AGYOWNK
1 NA      NA       NA       NA       NA      NA       1      01       NA
2 NA      NA       NA       NA       NA      NA       1      01       NA
3 NA      NA       NA       NA       NA      NA       1      05       NA
4 NA      NA       NA       NA       NA      NA      NA      11       NA
5 NA      NA       NA       NA       NA      NA       1      18       NA
6 NA      NA       NA       NA       NA      NA      NA      02       NA
  FINALWT
1 1312
2   91
3  136
4  107
5  242
6  178

In [18]:
nrow(employment)

[1] 108064

In [24]:
employment_clean <- employment |>
                    select(NOC_10 ,IMMIG ,HRLYEARN) |>
                    filter(!is.na(HRLYEARN)) |>
                    filter(NOC_10 == "03")    #Filters out everyone with STEM Occupations

                    
                

head(employment_clean)
nrow(employment_clean)

  NOC_10 IMMIG HRLYEARN
1 03     2     9707
2 03     3     4567
3 03     3     3897
4 03     1     2497
5 03     3     4872
6 03     3     2885

[1] 4334